*{
    margin: 0;
}
body{
    font-size: 16px;
    font-family: Arial;
}
/* Grid global */
.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas: 
    "sidebar video video"
    "sidebar infoVideo infoVideo"
    "sidebar comentarios sugerencias";
    
}
/* sidebar */
.sidebar{
    grid-area: sidebar;
    background-color: #151b31;
    color: white;
    padding: 20px;
}
.logo-platzi{
    width: 100%;
}
.lista-playlist-personal{
    padding: 17px;
}
.lista-playlist-personal li{
    padding: 10px 10px 10px 20px;
}
.amigo{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.foto-amigo{
    border-radius: 50%;
}
.nombre-amigo{
    margin-left: 10px;
}
/* video */
.video{
    grid-area: video;
}
.info-video{
    grid-area: infoVideo;
}
/* Comentario */
.comentarios{
    grid-area: comentarios;
}
/* sugerencias */
.sugerencias{
    grid-area: sugerencias;
}